In [ ]:
%load_ext nb_black

### 1) Для генерации данных в random устанавливаем seed = "АДВИ_2023", длина каждого списка N = 1000
### 2) index колонка: создаем список из N последовательных целых элементов от 1 до 1000 включительно, далее, с помощью random.shuffle перемешиваем его

In [23]:
import random
import numpy as np
import pandas as pd

seed = "АДВИ_2023"
b = random.seed(a=seed)

N = 1000
index = np.arange(1, 1001)
random.shuffle(index)

### 3) groups колонка: создаем список из N элементов, состоящий из значений из списка ["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"], используем функцию random.choices, которая возвращает список элементов длины k, выбранных из последовательности population с перестановкой элементов

In [24]:
lst = np.array(["группа_1", "группа_2", "группа_3", "группа_4", "группа_5"])
groups = random.choices(lst, k=1000)

### 4) uniform колонка: создаем список из N элементов, состоящий из целых значение из равномерного распределения [50, 100]

In [25]:
uniform = []
for i in range(1, 1001):
    a = random.randint(50, 100)
    uniform.append(a)

### 5) gauss_1, gauss_2, gauss_3 колонки: Создаем 3 списка из N элементов каждый, заполненные значениями из нормальных распределений с параметрами:
* μ=0,   σ=1  -> третья колонка gauss_1
* μ=0,   σ=12 -> третья колонка gauss_2
* μ=50,  σ=9  -> третья колонка gauss_3

In [26]:
gauss_1 = []
for i in range(1000):
    c = random.gauss(0, 1)
    gauss_1.append(c)

gauss_2 = []
for i in range(1000):
    d = random.gauss(0, 12)
    gauss_2.append(d)

gauss_3 = []
for i in range(1000):
    e = random.gauss(50, 9)
    gauss_3.append(e)

### 6) Создаем pandas DataFrame, где (1) будет индексом, (2)-(5) колонки, названия колонок ["groups", "uniform", "gauss_1", "gauss_2", "gauss_3"]

In [27]:
Table = {
    "indexx": (index),
    "groups": (groups),
    "uniform": (uniform),
    "gauss_1": (gauss_1),
    "gauss_2": (gauss_2),
    "gauss_3": (gauss_3),
}
df = pd.DataFrame(Table)
df

     indexx    groups  uniform   gauss_1    gauss_2    gauss_3
0       476  группа_1       95  3.010291   2.156346  57.455851
1       315  группа_5       77  0.190277  -9.934550  62.694177
2       490  группа_4       96 -0.282161   9.211071  54.688895
3       748  группа_3       56  1.127080 -12.391793  30.192353
4       471  группа_5       52 -1.238270  10.938748  52.682052
..      ...       ...      ...       ...        ...        ...
995     260  группа_4       57 -1.484164  -5.911598  49.330196
996     146  группа_4       78 -0.379041  -3.132954  60.329900
997     972  группа_1       52 -0.857206   0.835715  51.926114
998     161  группа_1       62 -0.195475   3.496498  66.310250
999     587  группа_5       60  0.093496  -9.164475  60.897843

[1000 rows x 6 columns]

### 7) Для колонок gauss_1 и gauss_2 заменяем значения на None:
* Для gauss_1, если индекс значение делится на 121 без остатка
* Для gauss_2, если дробная часть больше 0.95

In [28]:
df.loc[(df.index % 121 == 0), "gauss_1"] = None
df

     indexx    groups  uniform   gauss_1    gauss_2    gauss_3
0       476  группа_1       95       NaN   2.156346  57.455851
1       315  группа_5       77  0.190277  -9.934550  62.694177
2       490  группа_4       96 -0.282161   9.211071  54.688895
3       748  группа_3       56  1.127080 -12.391793  30.192353
4       471  группа_5       52 -1.238270  10.938748  52.682052
..      ...       ...      ...       ...        ...        ...
995     260  группа_4       57 -1.484164  -5.911598  49.330196
996     146  группа_4       78 -0.379041  -3.132954  60.329900
997     972  группа_1       52 -0.857206   0.835715  51.926114
998     161  группа_1       62 -0.195475   3.496498  66.310250
999     587  группа_5       60  0.093496  -9.164475  60.897843

[1000 rows x 6 columns]

In [29]:
df.loc[(df["gauss_2"] % 1 >= 0.95), "gauss_2"] = None
df.describe(include="all")

,indexx,groups,uniform,gauss_1,gauss_2,gauss_3
count,1000.000000,1000,1000.000000,991.000000,948.000000,1000.000000
unique,NaN,5,NaN,NaN,NaN,NaN
top,NaN,группа_4,NaN,NaN,NaN,NaN
freq,NaN,225,NaN,NaN,NaN,NaN
mean,500.500000,NaN,74.953000,-0.043417,-0.219773,49.427547
std,288.819436,NaN,14.384704,1.049921,12.271846,9.027500
min,1.000000,NaN,50.000000,-3.933254,-40.394911,19.682732
25%,250.750000,NaN,62.000000,-0.746104,-8.471185,43.492984
50%,500.500000,NaN,75.000000,0.000659,-0.395493,49.574638
75%,750.250000,NaN,88.000000,0.619402,7.937956,55.627863
max,1000.000000,NaN,100.000000,3.040902,34.218271,78.079961

### 8) Для пропущенных значений gauss_1 и gauss_2:
* Для gauss_2 None заменить на среднее по колонке
* Удалить строчки из таблицы, где gauss_1 == None

In [30]:
df["gauss_2"] = df["gauss_2"].fillna(df["gauss_2"].mean())
df.describe(include="all")

,indexx,groups,uniform,gauss_1,gauss_2,gauss_3
count,1000.000000,1000,1000.000000,991.000000,1000.000000,1000.000000
unique,NaN,5,NaN,NaN,NaN,NaN
top,NaN,группа_4,NaN,NaN,NaN,NaN
freq,NaN,225,NaN,NaN,NaN,NaN
mean,500.500000,NaN,74.953000,-0.043417,-0.219773,49.427547
std,288.819436,NaN,14.384704,1.049921,11.948191,9.027500
min,1.000000,NaN,50.000000,-3.933254,-40.394911,19.682732
25%,250.750000,NaN,62.000000,-0.746104,-8.145882,43.492984
50%,500.500000,NaN,75.000000,0.000659,-0.219773,49.574638
75%,750.250000,NaN,88.000000,0.619402,7.186959,55.627863
max,1000.000000,NaN,100.000000,3.040902,34.218271,78.079961

In [31]:
df.dropna(subset=["gauss_1"])

     indexx    groups  uniform   gauss_1    gauss_2    gauss_3
1       315  группа_5       77  0.190277  -9.934550  62.694177
2       490  группа_4       96 -0.282161   9.211071  54.688895
3       748  группа_3       56  1.127080 -12.391793  30.192353
4       471  группа_5       52 -1.238270  10.938748  52.682052
5       907  группа_2       70 -1.227963  12.721383  55.538879
..      ...       ...      ...       ...        ...        ...
995     260  группа_4       57 -1.484164  -5.911598  49.330196
996     146  группа_4       78 -0.379041  -3.132954  60.329900
997     972  группа_1       52 -0.857206   0.835715  51.926114
998     161  группа_1       62 -0.195475   3.496498  66.310250
999     587  группа_5       60  0.093496  -9.164475  60.897843

[991 rows x 6 columns]

In [32]:
df.describe(include="all")

,indexx,groups,uniform,gauss_1,gauss_2,gauss_3
count,1000.000000,1000,1000.000000,991.000000,1000.000000,1000.000000
unique,NaN,5,NaN,NaN,NaN,NaN
top,NaN,группа_4,NaN,NaN,NaN,NaN
freq,NaN,225,NaN,NaN,NaN,NaN
mean,500.500000,NaN,74.953000,-0.043417,-0.219773,49.427547
std,288.819436,NaN,14.384704,1.049921,11.948191,9.027500
min,1.000000,NaN,50.000000,-3.933254,-40.394911,19.682732
25%,250.750000,NaN,62.000000,-0.746104,-8.145882,43.492984
50%,500.500000,NaN,75.000000,0.000659,-0.219773,49.574638
75%,750.250000,NaN,88.000000,0.619402,7.186959,55.627863
max,1000.000000,NaN,100.000000,3.040902,34.218271,78.079961

In [33]:
np.percentile(df.uniform, 90)

94.0

In [34]:
df[df.groups == "группа_1"].median()

/var/folders/31/j1hkhm2s5hv1bqkbnl2509r00000gn/T/ipykernel_41367/1600692342.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df.groups == "группа_1"].median()

indexx     552.000000
uniform     78.000000
gauss_1      0.066417
gauss_2     -0.219773
gauss_3     49.876708
dtype: float64

In [35]:
df[df.groups == "группа_2"].median()

/var/folders/31/j1hkhm2s5hv1bqkbnl2509r00000gn/T/ipykernel_41367/781332100.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df.groups == "группа_2"].median()

indexx     457.000000
uniform     76.000000
gauss_1     -0.057394
gauss_2     -0.219773
gauss_3     49.953550
dtype: float64

In [36]:
df[df.groups == "группа_3"].median()

/var/folders/31/j1hkhm2s5hv1bqkbnl2509r00000gn/T/ipykernel_41367/1452054025.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df.groups == "группа_3"].median()

indexx     468.000000
uniform     77.000000
gauss_1      0.055329
gauss_2     -0.219773
gauss_3     49.448121
dtype: float64

In [37]:
df[df.groups == "группа_1"].min()

indexx             2
groups      группа_1
uniform           50
gauss_1    -3.628448
gauss_2   -22.109394
gauss_3    21.111701
dtype: object

In [38]:
df[df.groups == "группа_2"].min()

indexx             3
groups      группа_2
uniform           50
gauss_1    -2.692705
gauss_2   -38.365537
gauss_3    26.063885
dtype: object

In [39]:
df[df.groups == "группа_3"].min()

indexx             1
groups      группа_3
uniform           50
gauss_1    -2.606773
gauss_2    -36.18752
gauss_3    27.741795
dtype: object

In [40]:
gauss_summ = []

for i in range(1000):
    e = (gauss_1[i] + gauss_2[i]) / gauss_3[i]
    gauss_summ.append(e)

In [41]:
Table = {
    "indexx": (index),
    "groups": (groups),
    "uniform": (uniform),
    "gauss_1": (gauss_1),
    "gauss_2": (gauss_2),
    "gauss_3": (gauss_3),
    "gauss_sum": (gauss_summ),
}
df = pd.DataFrame(Table)
df

     indexx    groups  uniform   gauss_1    gauss_2    gauss_3  gauss_sum
0       476  группа_1       95  3.010291   2.156346  57.455851   0.089924
1       315  группа_5       77  0.190277  -9.934550  62.694177  -0.155425
2       490  группа_4       96 -0.282161   9.211071  54.688895   0.163267
3       748  группа_3       56  1.127080 -12.391793  30.192353  -0.373098
4       471  группа_5       52 -1.238270  10.938748  52.682052   0.184133
..      ...       ...      ...       ...        ...        ...        ...
995     260  группа_4       57 -1.484164  -5.911598  49.330196  -0.149924
996     146  группа_4       78 -0.379041  -3.132954  60.329900  -0.058213
997     972  группа_1       52 -0.857206   0.835715  51.926114  -0.000414
998     161  группа_1       62 -0.195475   3.496498  66.310250   0.049781
999     587  группа_5       60  0.093496  -9.164475  60.897843  -0.148954

[1000 rows x 7 columns]

np.percentile(df.gauss_sum, 70)